.hire{
    max-width: 1200px;
    background: var(--panel);
    border-radius: 20px;
    padding: 20px 50px;
    margin: 50px auto;
}

.hire h2{
    background: var(--brand);
    color: var(--panel);
    padding: 10px;
}

.hire form > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px 10px;
}

.hire label{
    display: block;
    text-align: left;
    font-weight: bold;
}

.hire input, .hire select{
    padding: 10px;
    width: 100%;
    border-radius: 0;
}

.hire select{
    background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);
}

@media (max-width: 680px){
    .hire form > div{
        grid-template-columns: 1fr;
    }

    .hire input{
        margin-top: 10px;
    }
}